<div class="container">
<h1>Lista de equipas</h1>
</div>
 
<div class="container">
<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Colaboradores <br> Inactivos / Total</th>
    <th>Moods<br> Falhados / Total</th>
  </tr>
 
  <% @groups.each do |g| %>
    <tr>
      <td><%= g.id %></td>
      <td><%= g.title %></td>
      <td><%= g.inactive_collaborators_count %> / <%= g.total_collaborators_count %></td>
      <td><%= g.missed_moods_count %> / <%= g.total_moods_count %></td>
      <td><%= link_to 'Eliminar', group_path(g),
                    method: :delete, data: { confirm: 'Tem a certeza?' } %></td>
    </tr>
  <% end %>
</table>
</div>

<div class="container" style="margin-top:30px;">
  <%= link_to 'Adicionar nova', new_group_path %>
</div>

<style type="text/css">
table, th, td {
  text-align: center;
}

tr > th {
  vertical-align: bottom;
  padding-right: 30px;
}

tr > td {
  padding-top: 10px;
  padding-right: 30px;
}

</style>