
<div id="week_navigation" class="container">
<%=  
  link_to "#{image_tag("seta-back.png")}".html_safe, comments_collaborators_path(@previous_week.strftime("%Y-%m-%d")), :title => "Semana Anterior"
%>

<h1>Semana <%= @monday.strftime('%d %b') %> - <%= @friday.strftime('%d %b') %></h1>

<%=  
  if @next_week 
    link_to "#{image_tag("seta-next.png")}".html_safe, comments_collaborators_path(@next_week.strftime("%Y-%m-%d")), :title => "Semana Seguinte"
  end
%>
</div>

<div id="report_type" class="container">
    <%= link_to "Overview", report_collaborators_path(@monday.strftime("%Y-%m-%d")), :title => "Overview" %> / <b>Timeline</b>
</div>

<div id="week_comments" class="container">

	<% @team_moods.each do |(day, day_moods)| %>
      <div class="day_comments">
        
        <div class="day"><%= day.strftime("%a, %d %B")  %></div>
        <hr />

        <div class="comments_list">
        <% if (day_moods.count == 0) %>

          <p class="text-center">Não existe nenhum comentário neste dia.</p>

        <% else %>

          <% day_moods.each do |mood| %>

            <div class="mood_comment">

              <div class="rating">
                <%= image_tag("legocons/" + mood.rating + ".png") %>
                <p class="text-center"><%= mood.collaborator.name %></p>
              </div>

              <div class="comment">            
                <%= mood.comment %>
              </div>
            </div>

          <% end %>
        <% end %>
        </div>
      </div>

  <% end %>

</div>


<style type="text/css">
#week_navigation {
  margin: 20px auto 0;
  text-align: center;
}
#week_navigation h1 {
  display: inline-block;
}
#report_type{
  font-size: 20px; 
  text-align: center; 
  margin-bottom: 30px;;
}

#week_comments{
  width: 800px;
  margin-top: 30px;
}

.day {
  font-family: "Josefin Sans";
  font-size: 1.3em;
}

.comments_list {
  margin-bottom: 100px;
  margin-top: 30px;
}

.mood_comment {
  margin: 0 auto 40px;
  overflow: auto;
  width: 600px;
}

.mood_comment .rating {
  float: left;
  margin-right: 20px;
  width: 80px;
}

.mood_comment .comment {
  border-left: 1px solid #DDDDDD;
  float: left;
  font-family: Josefin Sans;
  font-size: 1.2em;
  min-height: 100px;
  max-width: 485px;
  padding-left: 20px; 
}
</style>
