<div class="container">
<h1>Semana de <%= @monday.strftime('%d %b') %> a <%= @friday.strftime('%d %b') %></h1>
</div>

<div class="container">
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
</div>

<div class="container">
<table>
	<% @moods.each do |day|
      n_moods = 0
   %>
    <tr>
      <td><%= day[0] %></td>
	  <% day[1].each do |m| 
        n_moods += m[1]
        m[1].times do
      %>
      	<td>| <%= image_tag("legocons/" + m[0] + ".png", alt: m[0])  %> </td>
      <% end %>
	  <% end %>

    <% (@n_collaborators - n_moods).times do %>
      <td>| <%= image_tag("legocons/desconhecido.png", alt: "desconhecido")  %> </td>
    <% end %>
    </tr>
  <% end %>

</table>
</div>

<div id="week_navigation" class="container">
<%=  
  link_to "< Semana Anterior", report_collaborators_path(@previous_week.strftime("%Y-%m-%d"))
%>
<%=  
  if @next_week 
    link_to "| Semana Seguinte >", report_collaborators_path(@next_week.strftime("%Y-%m-%d"))
  end
%>
</div>



<style type="text/css">

tr > td {
 padding-top: 10px;
}

#week_navigation {
  margin-top: 30px;
}
</style>