
<div id="week_navigation" class="container">
<%=  
  link_to "#{image_tag("seta-back.png")}".html_safe, report_collaborators_path(@previous_week.strftime("%Y-%m-%d")), :title => "Semana Anterior"
%>

<h1>Semana <%= @monday.strftime('%d %b') %> - <%= @friday.strftime('%d %b') %></h1>

<%=  
  if @next_week 
    link_to "#{image_tag("seta-next.png")}".html_safe, report_collaborators_path(@next_week.strftime("%Y-%m-%d")), :title => "Semana Seguinte"
  end
%>
</div>

<div class="container">
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
</div>

<div id="week_moods" >
<table>

    <tr>
      <th></th>
      <th class="me">Eu</th>
      <th colspan="<%= @n_collaborators - 1 %>">Equipa</th>
    </tr>

	<% 
    weekly_counter = Hash.new 0
    @team_moods.each do |day, day_moods|
      n_moods = 0
   %>
    <tr>
      <td><%= day %></td>

      <% 
        if @my_moods[day].empty?
          my_mood = 'desconhecido'
        else 
          my_mood = @my_moods[day][0].rating
        end %>
      <td class="me"><%= image_tag("legocons/" + my_mood + ".png", alt: my_mood)  %> </td>

	  <% day_moods.each do |m| 
        weekly_counter[m[0]] += m[1]
        n_moods += m[1]
        n_legos = m[0] == my_mood ? m[1] - 1 : m[1];
        n_legos.times do
      %>
      	<td><%= image_tag("legocons/" + m[0] + ".png", alt: m[0])  %> </td>
      <% end %>
	  <% end %>

    <% 
       n_legos = my_mood == 'desconhecido' ? (@n_collaborators - n_moods) - 1 : (@n_collaborators - n_moods);
       n_legos.times do %>
      <td><%= image_tag("legocons/desconhecido.png", alt: "desconhecido")  %> </td>
    <% end %>

    </tr>
  <% end %>

</table>
</div>

<div id="week_stats" class="container">

<div class="progress" style="width:460px;margin: 0 auto;">
  <div class="progress-bar progress-bar-1" style="width: <%= (weekly_counter['contente'].to_f  / (@n_collaborators * 5) ) * 100 %>%">
    <span class="">Contente</span>
  </div>
  <div class="progress-bar progress-bar-2" style="width: <%= (weekly_counter['okay'].to_f  / (@n_collaborators * 5) ) * 100 %>%">
    <span class="">Okay</span>
  </div>
  <div class="progress-bar progress-bar-3" style="width: <%= (weekly_counter['preocupado'].to_f  / (@n_collaborators * 5) ) * 100 %>%">
    <span class="">Preocupado</span>
  </div>
  <div class="progress-bar progress-bar-4" style="width: <%= (weekly_counter['triste'].to_f  / (@n_collaborators * 5) ) * 100 %>%">
    <span class="">Triste</span>
  </div>
</div>

</div>

<style type="text/css">
#week_navigation {
  text-align: center;
}
#week_navigation h1 {
  display: inline-block;
}

#week_moods {
  display: table;
  margin: 0 auto;
}

#week_moods table{
  margin-left: -60px;
}

tr > th {
  text-align: center;
  padding: 10px 0 0 10px;
}

tr > td {
 padding: 10px 0 0 10px;
}

td.me{
  padding-right: 10px;
  border-right: 2px dashed #ccc;
}

#week_stats {
  margin-top: 60px;
}

.progress-bar-1 {
  background-color: #5CB85C;
}
.progress-bar-2 {
  background-color: #428BCA;
}
.progress-bar-3 {
  background-color: #F0AD4E;
}
.progress-bar-4 {
  background-color: #D9534F;
}
</style>