<div class="container">
<h1>Semana de <%= @monday.strftime('%d %b') %> a <%= @friday.strftime('%d %b') %></h1>
</div>

<div class="container">
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
</div>

<div class="container">
<table>
	<% @moods.each do |day| %>
    <tr>
      <td><%= day[0] %></td>
	  <% day[1].each do |m| 
        m[1].times do
      %>
      	<td>| <%= image_tag("legocons/" + m[0] + ".png", alt: m[0])  %> </td>
      <% end %>
	  <% end %>
    </tr>
  <% end %>
</table>
</div>


<style type="text/css">

tr > td {
 padding-top: 10px;
}

</style>