
<div id="week_navigation" class="container">
<%=  
  link_to "#{image_tag("seta-back.png")}".html_safe, report_collaborators_path(@previous_week.strftime("%Y-%m-%d")), :title => "Semana Anterior"
%>

<h1>Semana <%= @monday.strftime('%d %b') %> - <%= @friday.strftime('%d %b') %></h1>

<%=  
  if @next_week 
    link_to "#{image_tag("seta-next.png")}".html_safe, report_collaborators_path(@next_week.strftime("%Y-%m-%d")), :title => "Semana Seguinte"
  end
%>
</div>

<div class="container">
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
</div>

<% mclass = (@n_collaborators > 10 ) ? 'plus10' : '';  %>
<div id="week_moods" class="<%= mclass %>">
<table>

    <tr>
      <th></th>
      <th class="me">Eu</th>
      <th colspan="<%= @n_collaborators - 1 %>">Equipa</th>
    </tr>

	<% 
    weekly_counter = Hash.new 0
    @team_moods.each_with_index do |(day, day_moods),index|
      n_moods = 0
   %>
    <tr>
      <td><%= day %></td>

      <td class="me">
        <% if @my_moods[day].empty? 
             my_mood = 'desconhecido'

             if ((@monday+index) <= Date.today)
          %>
            <%= link_to "#{image_tag("legocons/desconhecido_novo.png")}".html_safe, login_path(@me.unique_token, (@monday+index).strftime("%Y-%m-%d")), :title => "Definir o meu mood" %>
          <% else %>
            <%= image_tag("legocons/" + my_mood + ".png", alt: my_mood)  %> 
          <% end %>
        <% else 
            my_mood = @my_moods[day][0].rating
          %>
            <%= image_tag("legocons/" + my_mood + ".png", alt: my_mood)  %> 
        <% end %>
      </td>

	  <% day_moods.each do |m| 
        weekly_counter[m[0]] += m[1]
        n_moods += m[1]
        n_legos = m[0] == my_mood ? m[1] - 1 : m[1];
        n_legos.times do
      %>
      	<td><%= image_tag("legocons/" + m[0] + ".png", alt: m[0])  %> </td>
      <% end %>
	  <% end %>

    <% 
       n_legos = my_mood == 'desconhecido' ? (@n_collaborators - n_moods) - 1 : (@n_collaborators - n_moods);
       n_legos.times do %>
      <td><%= image_tag("legocons/desconhecido.png", alt: "desconhecido")  %> </td>
    <% end %>

    </tr>
  <% end %>

</table>
</div>

<div id="week_stats" class="container">

<div class="progress">
  <div class="progress-bar progress-bar-1"
       data-toggle="tooltip" title="<%= ((weekly_counter['contente'].to_f  / (@n_collaborators * 5) ) * 100).ceil %>% Contente" 
       style="width: <%= (weekly_counter['contente'].to_f  / (@n_collaborators * 5) ) * 100 %>%">
  </div>
  <div class="progress-bar progress-bar-2" 
       data-toggle="tooltip" title="<%= ((weekly_counter['okay'].to_f  / (@n_collaborators * 5) ) * 100).ceil %>% Okay" 
       style="width: <%= (weekly_counter['okay'].to_f  / (@n_collaborators * 5) ) * 100 %>%">
  </div>
  <div class="progress-bar progress-bar-3" 
       data-toggle="tooltip" title="<%= ((weekly_counter['preocupado'].to_f  / (@n_collaborators * 5) ) * 100).ceil %>% Preocupado" 
       style="width: <%= (weekly_counter['preocupado'].to_f  / (@n_collaborators * 5) ) * 100 %>%">
  </div>
  <div class="progress-bar progress-bar-4"
       data-toggle="tooltip" title="<%= ((weekly_counter['triste'].to_f  / (@n_collaborators * 5) ) * 100).ceil %>% Triste" 
       style="width: <%= (weekly_counter['triste'].to_f  / (@n_collaborators * 5) ) * 100 %>%">
  </div>
</div>

<div class="statsbar">
  <div class="statsbar">
  </div>
</div>

</div>

<script type="text/javascript">
  $(function() {
    $('.progress-bar').tooltip();
  });
</script>

<style type="text/css">
#week_navigation {
  margin: 20px auto;
  text-align: center;
}
#week_navigation h1 {
  display: inline-block;
}

#week_moods {
  display: table;
  margin: 0 auto;
}

#week_moods table{
  margin-left: -60px;
}

.plus10 img {
  width: 52px;
}

tr > th {
  text-align: center;
  padding: 10px 0 0 10px;
}

tr > td {
 padding: 10px 0 0 10px;
}

td.me{
  padding-right: 10px;
  border-right: 2px dashed #ccc;
}

#week_stats {
  margin: 60px auto 40px;
}

.progress {
  width:660px;
  margin: 0 auto;
  background: url('/assets/legobricks/neutro.png');
  height: 40px;
  border-radius: 0;
  box-shadow: 0;
}

.progress-bar{
  height: 40px;
}

.progress-bar-1 {
  background: url('/assets/legobricks/verde.png');
}
.progress-bar-2 {
  background: url('/assets/legobricks/azul.png');
}
.progress-bar-3 {
  background: url('/assets/legobricks/amarelo.png');
}
.progress-bar-4 {
  background: url('/assets/legobricks/vermelho.png');
}

</style>
