<div class="container">
<h1 style="display:inline-block"><%= @welcome_msg %><%= @yesterday %></h1>
<%= 
  if @missed_yesterday
    link_to "ps: esqueceste-te de votar ontem... clica aqui", login_path(@collaborator.unique_token, "y")
  end 
%>
</div>

<div class="container">
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
</div>

<div class="container">

<%= form_for([@collaborator, @collaborator.moods.build]) do |f| %>
    <%= f.hidden_field :date, :value => @date %>

  <p>
    <%= f.hidden_field :rating %>
    <%= link_to(image_tag("legocons/contente.png", alt: "contente"), "contente", :title => "contente", :class => "change_mood") %>
    <%= link_to(image_tag("legocons/okay.png", alt: "okay"), "okay", :title => "okay" , :class => "change_mood")  %>
    <%= link_to(image_tag("legocons/preocupado.png", alt: "preocupado"), "preocupado", :title => "preocupado" , :class => "change_mood")   %>
    <%= link_to(image_tag("legocons/triste.png", alt: "triste"), "triste", :title => "triste" , :class => "change_mood")   %>


  </p>

  <p>
    <%= f.submit "Actualizar!", class: "btn btn-lg btn-default "  %>
  </p>
<% end %>
</div>

<script type="text/javascript">
  $(function() {
    $("a.change_mood").click(function(e) {
      e.preventDefault();
      $('a.change_mood').css('background', 'transparent');
      $(this).css("background-color", "#446CA9");
      $("#mood_rating").val($(this).attr("href"))
    });
  });
</script>

<style type="text/css">

a.change_mood {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  text-align: center;
  line-height: 8.5em;
}
  
</style>
