<div id ="welcome_msg" class="container">
<h1 style="display:inline-block"><%= @welcome_msg %><%= @yesterday %></h1>
</div>

<div class="container">
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>
</div>

<div id="mood_selection" class="container">

<%= form_for([@collaborator, @collaborator.moods.build]) do |f| %>
    <%= f.hidden_field :date, :value => @date %>

  <p>
    <%= f.hidden_field :rating, :value => @current_mood_rating %>
    <%= link_to(
          "#{image_tag("legocons/contente.png")} contente".html_safe, 
          "contente", :title => "contente", 
          :class => @current_mood_rating == "contente" ? 'change_mood selected_mood' : 'change_mood') 
        %>
    <%= link_to(
          "#{image_tag("legocons/okay.png")} okay".html_safe,  
          "okay", :title => "okay" , 
          :class => @current_mood_rating == "okay" ? 'change_mood selected_mood' : 'change_mood') 
        %>
    <%= link_to(
          "#{image_tag("legocons/preocupado.png")} preocupado".html_safe, 
          "preocupado", :title => "preocupado" , 
          :class => @current_mood_rating == "preocupado" ? 'change_mood selected_mood' : 'change_mood') 
        %>
    <%= link_to(
          "#{image_tag("legocons/triste.png")} triste".html_safe, 
          "triste", :title => "triste" , 
          :class => @current_mood_rating == "triste" ? 'change_mood selected_mood' : 'change_mood') 
        %>
  </p>

  <p>
    <%= f.text_area :comment, :value => @current_mood_comment %>
  </p>

  <p id="mood_action">
    <%= f.submit "Actualizar!", class: "btn btn-lg btn-default "  %>
  </p>
<% end %>
</div>

<script type="text/javascript">
  $(function() {
    $("a.change_mood").click(function(e) {
      e.preventDefault();
      $('a.change_mood').removeClass("selected_mood");
      $(this).addClass("selected_mood");
      $("#mood_rating").val($(this).attr("href"))
    });
  });
</script>

<style type="text/css">
#welcome_msg {
  margin: 20px auto;
  text-align: center;
}

#mood_selection {
  text-align: center;
}

#mood_action {
  margin: 40px auto 40px;
  text-align: center;
}

a.change_mood {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  text-align: center;
  line-height: 1em;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
a.change_mood.selected_mood {
  background-color: #446CA9;
  color: #FFF;
}

a.change_mood img {
  margin-bottom: 5px;
}

#new_mood textarea {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #CCCCCC;
  border-radius: 5px;
  height: 90px;
  margin-top: 40px;
  padding: 10px;
  width: 500px;
}
  
</style>
