<div class="container">

<div class="row margin50">
  <div class="col-md-8 col-md-offset-2">
	<h1 class="text-center">Sabes como se sentem os membros a tua equipa hoje?</h1>
  </div>
</div>


<div class="row margin30">
  <div class="col-md-8 col-md-offset-2">
  <p>
	Equipas felizes são mais produtivas e divertidas ;) 
  </p>
  <p>
Mantendo o controlo diário de como se sente a tua equipa podes mais facilmente prevenir a desmotivação, planear eventos para levantar a moral, realizar retrospectivas para compreender o que se passa, garantir que tudo está fantástico!
  </p>
  </div>
</div>

<div class="row margin50">
  <div class="col-md-8 col-md-offset-2">
  <h1 class="text-center">Com Happy Team tudo isto em 4 passos simples</h1>
  </div>
</div>

<div class="row marginbottom30">
  <div class="col-md-4 col-md-offset-2">
    <p class="h2 margintop20">1. Adiciona os emails da tua equipa</p>
  </div>

  <div class="col-md-4">
    <%= image_tag("app_steps/step1.png", alt: "step1") %>
  </div>
</div>

<div class="row"><div class="col-md-8 col-md-offset-2"><p style="border-bottom: 1px solid;"></p></div></div>

<div class="row margin30">
  <div class="col-md-4 col-md-offset-2">
    <%= image_tag("app_steps/step2.png", alt: "step2") %>
  </div>

  <div class="col-md-4">
    <p class="h2 margintop20">2. Diariamente (2ª a 6ª)  os membros da equipa recebem um lembrete por email</p>
  </div>
</div>

<div class="row"><div class="col-md-8 col-md-offset-2"><p style="border-bottom: 1px solid;"></p></div></div>

<div class="row margin30">
  <div class="col-md-4 col-md-offset-2">
    <p class="h2 margintop20">3. Actualiza o teu estado! É fácil e divertido.</p>
  </div>

  <div class="col-md-4">
    <%= image_tag("app_steps/step3.png", alt: "step3") %>
  </div>
</div>

<div class="row"><div class="col-md-8 col-md-offset-2"><p style="border-bottom: 1px solid;"></p></div></div>

<div class="row margin30">
  <div class="col-md-4 col-md-offset-2">
    <%= image_tag("app_steps/step4.png", alt: "step4") %>
  </div>

  <div class="col-md-4">
    <p class="h2 margintop20">4. Monitoriza os resultados da equipa</p>
  </div>
</div>  

</div>

<div class="row margin50 text-center">
  <%= link_to "Já entendi, deixa-me experimentar!", collaborators_path, class: 'btn btn-success btn-lg'  %>
</div>  

</div>


<style type="text/css">

.margintop20{	
  margin-top: 20px;
}

.marginbottom30{
  margin-bottom: 30px;
}

.margin30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

a.change_mood {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  text-align: center;
  line-height: 8.5em;
}
  
</style>