<div class="container">
<h1>Como te sentes hoje?</h1>
</div>

<div class="container" id="heads">

  <p>
    <%= link_to(image_tag("legocons/contente.png", alt: "contente"), "contente", :title => "contente", :class => "change_mood") %>
    <%= link_to(image_tag("legocons/okay.png", alt: "okay"), "okay", :title => "okay" , :class => "change_mood")  %>
    <%= link_to(image_tag("legocons/preocupado.png", alt: "preocupado"), "preocupado", :title => "preocupado" , :class => "change_mood")   %>
    <%= link_to(image_tag("legocons/triste.png", alt: "triste"), "triste", :title => "triste" , :class => "change_mood")   %>
  </p>

</div>

<div class="container">

  <p>
    <%= link_to(image_tag("legocons/contente.png", alt: "contente"), "contente", :title => "contente", :class => "change_mood") %>
    <%= link_to(image_tag("legocons/okay.png", alt: "okay"), "okay", :title => "okay" , :class => "change_mood")  %>
    <%= link_to(image_tag("legocons/preocupado.png", alt: "preocupado"), "preocupado", :title => "preocupado" , :class => "change_mood")   %>
    <%= link_to(image_tag("legocons/triste.png", alt: "triste"), "triste", :title => "triste" , :class => "change_mood")   %>
  </p>

</div>


<script type="text/javascript">
  $(function() {
    $("a.change_mood").click(function(e) {
      e.preventDefault();
      $('a.change_mood').css('background', 'transparent');
      $(this).css("background-color", "#446CA9");
      $("#mood_rating").val($(this).attr("href"))
    });
  });
</script>

<style type="text/css">
#heads {
  margin: 30px 0;
}

a.change_mood {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 8px;
  text-align: center;
  line-height: 8.5em;
}
  
</style>
